*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-1.php > /home/srv76501/sant/santechnika/logs/cronlog-1.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-2.php > /home/srv76501/sant/santechnika/logs/cronlog-2.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-3.php > /home/srv76501/sant/santechnika/logs/cronlog-3.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-4.php > /home/srv76501/sant/santechnika/logs/cronlog-4.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-5.php > /home/srv76501/sant/santechnika/logs/cronlog-5.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-6.php > /home/srv76501/sant/santechnika/logs/cronlog-6.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-7.php > /home/srv76501/sant/santechnika/logs/cronlog-7.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-8.php > /home/srv76501/sant/santechnika/logs/cronlog-8.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-9.php > /home/srv76501/sant/santechnika/logs/cronlog-9.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-10.php > /home/srv76501/sant/santechnika/logs/cronlog-10.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-11.php > /home/srv76501/sant/santechnika/logs/cronlog-11.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-12.php > /home/srv76501/sant/santechnika/logs/cronlog-12.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-13.php > /home/srv76501/sant/santechnika/logs/cronlog-13.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-14.php > /home/srv76501/sant/santechnika/logs/cronlog-14.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-15.php > /home/srv76501/sant/santechnika/logs/cronlog-15.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-16.php > /home/srv76501/sant/santechnika/logs/cronlog-16.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-17.php > /home/srv76501/sant/santechnika/logs/cronlog-17.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-18.php > /home/srv76501/sant/santechnika/logs/cronlog-18.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-19.php > /home/srv76501/sant/santechnika/logs/cronlog-19.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-20.php > /home/srv76501/sant/santechnika/logs/cronlog-20.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-21.php > /home/srv76501/sant/santechnika/logs/cronlog-21.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-22.php > /home/srv76501/sant/santechnika/logs/cronlog-22.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-23.php > /home/srv76501/sant/santechnika/logs/cronlog-23.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-24.php > /home/srv76501/sant/santechnika/logs/cronlog-24.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-25.php > /home/srv76501/sant/santechnika/logs/cronlog-25.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-26.php > /home/srv76501/sant/santechnika/logs/cronlog-26.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-27.php > /home/srv76501/sant/santechnika/logs/cronlog-27.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-28.php > /home/srv76501/sant/santechnika/logs/cronlog-28.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-29.php > /home/srv76501/sant/santechnika/logs/cronlog-29.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-30.php > /home/srv76501/sant/santechnika/logs/cronlog-30.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-31.php > /home/srv76501/sant/santechnika/logs/cronlog-31.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-32.php > /home/srv76501/sant/santechnika/logs/cronlog-32.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-33.php > /home/srv76501/sant/santechnika/logs/cronlog-33.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-34.php > /home/srv76501/sant/santechnika/logs/cronlog-34.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-35.php > /home/srv76501/sant/santechnika/logs/cronlog-35.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-36.php > /home/srv76501/sant/santechnika/logs/cronlog-36.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-37.php > /home/srv76501/sant/santechnika/logs/cronlog-37.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-38.php > /home/srv76501/sant/santechnika/logs/cronlog-38.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-39.php > /home/srv76501/sant/santechnika/logs/cronlog-39.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-40.php > /home/srv76501/sant/santechnika/logs/cronlog-40.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-41.php > /home/srv76501/sant/santechnika/logs/cronlog-41.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-42.php > /home/srv76501/sant/santechnika/logs/cronlog-42.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-43.php > /home/srv76501/sant/santechnika/logs/cronlog-43.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-44.php > /home/srv76501/sant/santechnika/logs/cronlog-44.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-45.php > /home/srv76501/sant/santechnika/logs/cronlog-45.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-46.php > /home/srv76501/sant/santechnika/logs/cronlog-46.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-47.php > /home/srv76501/sant/santechnika/logs/cronlog-47.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-48.php > /home/srv76501/sant/santechnika/logs/cronlog-48.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-49.php > /home/srv76501/sant/santechnika/logs/cronlog-49.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-50.php > /home/srv76501/sant/santechnika/logs/cronlog-50.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-51.php > /home/srv76501/sant/santechnika/logs/cronlog-51.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-52.php > /home/srv76501/sant/santechnika/logs/cronlog-52.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-53.php > /home/srv76501/sant/santechnika/logs/cronlog-53.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-54.php > /home/srv76501/sant/santechnika/logs/cronlog-54.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-55.php > /home/srv76501/sant/santechnika/logs/cronlog-55.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-56.php > /home/srv76501/sant/santechnika/logs/cronlog-56.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-57.php > /home/srv76501/sant/santechnika/logs/cronlog-57.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-58.php > /home/srv76501/sant/santechnika/logs/cronlog-58.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-59.php > /home/srv76501/sant/santechnika/logs/cronlog-59.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-60.php > /home/srv76501/sant/santechnika/logs/cronlog-60.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-61.php > /home/srv76501/sant/santechnika/logs/cronlog-61.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-62.php > /home/srv76501/sant/santechnika/logs/cronlog-62.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-63.php > /home/srv76501/sant/santechnika/logs/cronlog-63.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-64.php > /home/srv76501/sant/santechnika/logs/cronlog-64.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-65.php > /home/srv76501/sant/santechnika/logs/cronlog-65.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-66.php > /home/srv76501/sant/santechnika/logs/cronlog-66.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-67.php > /home/srv76501/sant/santechnika/logs/cronlog-67.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-68.php > /home/srv76501/sant/santechnika/logs/cronlog-68.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-69.php > /home/srv76501/sant/santechnika/logs/cronlog-69.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-70.php > /home/srv76501/sant/santechnika/logs/cronlog-70.log
*/15    *   *   *   *   /usr/bin/php /home/srv76501/sant/santechnika/santechnika.php catalog-71.php > /home/srv76501/sant/santechnika/logs/cronlog-71.log
